/*
Creator: Matt Mayfield
Date created: 2019-04-21
Date last modified: see git
*/

body {
  background-color: #fef9ff;
  font-family: arial, helvetica, sans-serif;
  color: #0d1f2d;
}

header {
  background-color: #5b7d87;
  color: #fef9ff;
  height: 100px;
  text-align: center;
  padding: 30px 10px 20px 10px;
}

h1 {
  font-size: 2.5em;
}
